html {
	box-sizing: border-box;
	height: 100%;
	scroll-behavior: smooth;
}
body {
	display: flex;
	flex-direction: column;
	height: 100%;
	font-family: 'Roboto' 'Arial', sans-serif;
	color: #000;
	font-size: 16px;
	margin: 0px;
	padding: 0px;
	line-height: 1.5;
	font-weight: 400;
	letter-spacing: 0.5;
}
*:focus {
	outline: 2px dotted #ff7500;
	outline-offset: 3px;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin-top: 0px;
	margin-bottom: 0px;
}
.sit-header {
	padding: 16px 0;
}
.contanier {
	max-width: 1100px;
	width: 100%;
	padding-left: 20px;
	padding-right: 20px;
	margin-left: auto;
	margin-right: auto;
}
.site-header__contaner {
	display: flex;
}
.site-logo__link {
	margin-right: auto;
}
.site-logo__img {
	width: 227px;
	height: 60px;
}
.site-navbar__list {
	display: flex;
	border: none;
	list-style: none;
}
.site-navbar__item {
	margin-right: 32px;
	text-decoration: none;
}
.site-navbar__link {
	color: #000;
	text-decoration: none;
	transition: opacity 0.4s ease color 0.4s ease;
}
.site-navbar__link:hover {
	color: #ff7500;
}
.site-navbar__link:active {
	opacity: 0.6;
}
.site-header__btn {
	display: flex;
	padding: 12px 24px;
	justify-content: center;
	align-items: center;
	width: 155px;
	height: 39px;
	border-radius: 4px;
	border: none;
	background: #ff7500;
	transition: opacity 0.4s ease;
}
.header-btn:hover {
	opacity: 0.8;
}
.header-btn:active {
	opacity: o.6;
}
.hero {
	background-color: #252420;
	color: #fff;
	padding-top: 80px;
	padding-bottom: 80px;
}
.hero__contaner {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.hero__info {
	max-width: 387px;
	width: 100%;
	justify-content: start;
	align-items: start;
}
.hero__hr {
	width: 80px;
	height: 3px;
	float: left;
	background-color: #ff7500;
	border: none;
}
.hero__title {
	margin-top: 40px;
	margin-bottom: 24px;
	color: #fff;
	font-family: Roboto Condensed;
	font-size: 40px;
	font-style: normal;
	font-weight: 700;
	line-height: 120%; /* 48px */
	letter-spacing: 0.5px;
}
.hero__img {
	width: 510px;
	height: 510px;
	flex-shrink: 0;
	border-radius: 8px;
	box-shadow: 24px 24px 0px 0px rgba(255, 117, 0, 0.6);
}
.hero__link {
	color: #fff;
	font-family: Roboto;
	font-size: 13px;
	margin-top: 40px;
	font-style: normal;
	font-weight: 700;
	list-style: none;
	line-height: normal;
	letter-spacing: 0.5px;
	display: inline-flex;
	padding: 12px 24px;
	justify-content: center;
	align-items: center;
	border-radius: 4px;
	text-decoration: none;
	background: #ff7500;
	transition: opacity 0.4s ease;
}
.hero__link:hover {
	opacity: 0.8;
}
.hero__link:active {
	opacity: 0.6;
}
.feature {
	margin-bottom: 245px;
	padding-top: 209px;
}
.feature__title {
	padding-top: 24px;
	margin-bottom: 72px;
	font-family: 'Roboto Condensed' 'Arial' sans-serif;
	color: #000;
	font-size: 72px;
	font-style: normal;
	font-weight: 700;
	line-height: 120%; /* 86.4px */
	letter-spacing: 0.5px;
}
.feature__hr {
	width: 80px;
	height: 3px;
	background-color: #ff7500;
	border: none;
	float: left;
}
.feature__list {
	list-style: none;
	display: flex;
	justify-content: space-between;
}
.feature__item {
	max-width: 314px;
	width: 100%;
}
.feature__item:not(:last-child) {
	margin-right: 66px;
}
.feature__img-wrapper {
	width: 1440px;
	height: 488px;
	flex-shrink: 0;
	background: #252420;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	margin-bottom: 32px;
	background-color: rgba(255, 117, 0, 0.2);
}
.feature-list__title {
	font-family: 'Roboto Condensed' 'Arial' sans-serif;
	font-size: 24px;
	font-style: normal;
	font-weight: 700;
	line-height: 120%; /* 28.8px */
	letter-spacing: 0.5px;
}
.feature__img {
	width: 56px;
	height: 56px;
	object-fit: cover;
}
.promotion {
	margin-bottom: 160px;
}
.promotion__contaner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #252420;
	color: #fff;
	padding: 64px;
	border-radius: 12px;
}
.promotion__info {
	max-width: 440px;
	width: 100%;
}
.promotion__title {
	font-family: 'Roboto Condensed', 'Roboto', 'Arial', sans-serif;
	font-size: 40px;
	font-style: normal;
	font-weight: 700;
	line-height: 120%; /* 48px */
	letter-spacing: 0.5px;
	margin-bottom: 24px;
}
.promotion-text__top {
	margin-bottom: 12px;
}
.promotion-text__bottom {
	margin-bottom: 24px;
}
.promotion-text__color {
	color: #ff7500;
}
.promotion__link {
	color: #fff;
	font-family: Roboto;
	font-size: 13px;
	margin-top: 40px;
	font-style: normal;
	font-weight: 700;
	list-style: none;
	line-height: normal;
	letter-spacing: 0.5px;
	display: inline-flex;
	padding: 12px 24px;
	justify-content: center;
	align-items: center;
	border-radius: 4px;
	text-decoration: none;
	background-color: #ff7500;
	transition: opacity 0.4 ease;
}
.promotion__link:hover {
	opacity: 0.8;
}

.promotion__link:active {
	opacity: 0.6;
}
.footer {
	padding-top: 56px;
	padding-bottom: 56px;
	background-color: #f8f8f8;
}

.footer__top {
	display: flex;
	justify-content: space-between;
	margin-bottom: 40px;
}
.footer__top a {
	transition: opacity 0.4 ease;
}
.footer__top a:hover {
	opacity: 0.8;
}
.footer__top a:active {
	opacity: 0.6;
}

.footer__list {
	list-style: none;
	display: flex;
	margin: 0;
	padding: 0;
}

.footer__item:not(last-child) {
	margin-right: 16px;
}

.footer__social {
	color: #000;
	transition: color 0.4 ease, opacity 0.4 ease;
}

.footer__social:hover {
	fill: #ff7500;
}
.footer__social:active {
	opacity: 0.6;
}
.footer__hr {
	width: 1100px;
	height: 3px;
	background: rgba(37, 36, 32, 0.5);
	border: none;
}

/* .footer-bottom-list {
	display: flex;
}

.footer-bottom-text {
	display: flex;

} */
